{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "proseWrap": "never",
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": ["*.html", "*.yaml"],
      "options": {
        "printWidth": 10000
      }
    }
  ],
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5"
}
